---
import Layout from "../../components/Layout.astro";
import bgImage from "../../images/obra.jpg";
import Button from "../../components/buttonSuscribe";
const Title = "Menu de tutoriales";
const posts = await Astro.glob("./posts/*.md");
---

<Layout title={Title}>
  <h1>{Title}</h1>
  <img
    width="100px"
    src="https://images.pexels.com/photos/13633065/pexels-photo-13633065.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt=""
  />
  <img width="300px" src={bgImage.src} />
  <Button />
  <ul>
    {
      posts.map((x) => {
        return (
          <li>
            <h2>
              <a href={x.url}>{x.frontmatter.title}</a>
            </h2>
            <h5>{x.frontmatter.author}</h5>
          </li>
        );
      })
    }
  </ul>
  <style>
    h1,
    h2,
    h5 {
      text-align: center;
    }
  </style>
</Layout>
