---
const title = "Mi primera pagina";
const clasTitle = "title";

const api = await fetch("https://jsonplaceholder.typicode.com/posts");
const posts = await api.json();

import Card from '../components/Card.astro'
---

<h1 class={clasTitle}>{title} - {6 * 2}</h1>
<div class="grid-container">
  {
    posts.map((x) => (
      <Card userId={x.userId} title={x.title} body={x.body}/>
    ))
  }

</div>

<style>
  body {
    background: #202020;
    color: white;
  }
  .title {
    color: crimson;
  }
  .grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto;
  background-color: #202020;
  padding: 10px;
}
</style>
